@import url('https://fonts.googleapis.com/css?family=Righteous');

h4{
    font-family: 'Righteous', cursive;
}

.botaoCadastrar{
    background-color: black;
    color: white;
}

.formCadastro{
    margin: 0 auto;
    background-color: rgb(243, 230, 255);
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
}