/* You can add global styles to this file, and also import other style files */
body{   
    background-image: url('https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif');
    background-size: cover;
    background-attachment: fixed;
    
}